body {
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
}
.head {
  padding-right: 600px;
}
.green {
  color: #035755;
}
.display {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
}
.elle {
  margin-top: -40px;
}
.pad {
  margin-left: 30px;
}
.pad1 {
  margin: 10px;
}
.pink {
  color: #fa5752;
}
.mat {
  padding-right: 0px;
  margin-right: 0px;
}

.jumbotron {
  margin-bottom: 30px;
  padding: 70px 10px 10px 10px;
  background-color: white;
  color: #035755;
}

.image {
  margin-top: -90px;
}
.alert {
  padding-top: 100px;
}

footer {
  color: floralwhite;
  padding: 20px 0px 20px 0px;
  background-color: #fa5752;
}

.jumbopad {
  padding-top: 153px;
}

.healthcare_head {
  padding-top: 170px;
}

.healthcare_text {
  padding-top: 150px;
}

.second-health-pad {
  padding-top: 100px;
}

.medical_product {
  padding: 40px 20px;
  background: #fff;
  text-align: left;
margin: 20px;
border: 2px solid  #fa5752;
border-radius: 17px;

}

.meditems_main {
  width: 100%;
  float: left;
  background-color: #ffffff;
  height: auto;
  padding: 60px 0px;
}

.footup {
  padding-bottom: 40px;
}

.article-pad {
  padding-top: 30px;
  padding-bottom: 30px;
}

.check-article-down-pad {
  padding-bottom: 70px;
}

.goalcard {
  padding: 10px 10px 10px 10px;
  border-radius: 50px;
}
.card-body {
  background-color: #fdeaea;
  border-radius: 50px;
}
.goalcard:hover {
  background-color: #fa5752;
}
.card-body:hover {
  background-color: #f8c9c9;
}
.section {
  padding-top: 50px;
  padding-bottom: 50px;
}
.headings {
  color: #fa5752;
}

#goal {
  padding-top: 50px;
}
.text {
  color: #035755;
  font-size: 20px;
}

.btn-special {
  align-content: center;
  background-color: #fa5752;
  border: #fa5752;
  border-radius: 10px;
}

@media only screen and (max-width: 770px) {
  .healthcare_head {
    padding-top: 30px;
  }
  .img1 {
    width: 370px;
  }
  .mob {
    font-size: 35px;
  }
  .left {
    text-align: right;
  }
}

.footlnk {
  color: white;
}

.btn-style-1 {
  color: #fff;
  background-color: #ff4f4f;
  border-color: #ffffff;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.btn-style-1:hover {
  color: #fff;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.design {
  color: black;
  
}
.design:hover {
  text-decoration: none;
  color: #ff4f4f;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeIn {
  animation-duration: 5s;
  animation-name: fadeIn;
}
@keyframes slideIn {
  0% {
    left: -200px;
    top: 0px;
  }
  25% {
    left: 50px;
    top: 0px;
  }
}
.slideIn {
  animation-duration: 5s;
  animation-name: slideIn;
}
@keyframes slideIn1 {
  0% {
    left: 700px;
    top: 0px;
  }
  25% {
    left: -50px;
    top: 0px;
  }
}
.slideIn1 {
  animation-duration: 10s;
  animation-name: slideIn1;
}
