html {
    scroll-behavior: smooth;
  }
.head{
   padding-right: 600px;
}  
.green{
  color: #035755;;
}
.diaplay-4{
  font-family: Georgia, 'Times New Roman', Times, serif;

}
.nav-link{
  font-size: large;
  color: #035755;
  
}
.elle{
  margin-top: -40px;
}
.pad{
  margin-left: 30px;
}
.pad1{
  margin: 10px;
}
.pink{
  color: #FA5752;
}
.rounded-pill{
  border: 2px solid red;
  border-radius: 5px;
  margin: 5px;
}
.navbar-text{
  padding: 10px;
  font-size: large;
  color: #035755;
  
}
.nav{
  background-color: white;
}
.mat{
  padding-right: 0px;
  margin-right: 0px;
}
  
.jumbotron{
    margin-bottom: 30px;
    padding: 70px 10px 10px 10px;
   background-color: white;
    color: #035755;
}
.navbar-toggler {
      border-color:  #FA5752;

      background-color:  #FA5752;

} 


.image{
  margin-top: -90px;
}
.alert{
  padding-top: 100px;
}

footer{
    
    color: floralwhite;
    padding: 20px 0px 20px 0px;
    background-color: #FA5752;

}

.jumbopad{
  padding-top: 153px;
}


.healthcare_head{
  padding-top: 170px;

}

.healthcare_text{
  padding-top: 150px;
}

.second-health-pad{
padding-top: 100px;
}

.medical_product {
  padding: 40px 20px;
  background: #fff;
  text-align: left;

}

.meditems_main{
  width: 100%; 
  float: left;
  background-color: #ffffff;
  height: auto;
  padding: 60px 0px;

}

.footup{
  padding-bottom: 40px;
}

.article-pad{
padding-top: 30px;
padding-bottom: 30px;
}

.check-article-down-pad{
  padding-bottom: 70px;
}

.goalcard{
  padding: 10px 10px 10px 10px;
  border-radius: 50px;
}
.card-body{
  background-color: #FDEAEA;
  border-radius: 50px;
}
.goalcard:hover{
  background-color:#FA5752;
}
.card-body:hover{
  background-color:#f8c9c9;
} 
.section{
  padding-top: 50px;
  padding-bottom: 50px;
}
.headings{
  color:  #FA5752;
}

#goal{
  padding-top: 100px;
}
.text{
  color: #035755;
  font-size: 20px;
}


.btn-special{
  align-content: center;
  background-color: #FA5752;
  border: #FA5752;
  border-radius: 10px;
}


@media only screen and (max-width:770px) {
  .healthcare_head{
    padding-top: 30px;
  }


}

